# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Composer dependencies
/vendor/

# Environment / local configuration
.env

# CodeIgniter cache
application/cache/*
!application/cache/index.html

# CodeIgniter logs
application/logs/*
!application/logs/index.html

# Uploaded files
assets/uploads/*
!assets/uploads/index.html

# Node dependencies
node_modules/

# Local database configuration
application/config/database_local.php